name: macOS CI

on: [push, pull_request]

jobs:
  x86_64-darwin-test:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3

      - name: setup crystal
        run: brew install crystal

      - name: setup static builds
        run: make libs
      - name: hello
        run: |
            APP_NAME=hello
            crystal build --release bin/$APP_NAME.cr --no-debug --link-flags="-L$PWD"
            ./$APP_NAME
            file $APP_NAME
            du -hs $APP_NAME
            otool -L $APP_NAME
            chmod +x check_dynamic_linking.sh && ./check_dynamic_linking.sh $APP_NAME
            mkdir -p pkg
            mv $APP_NAME pkg